<div class="row">
    <img [src]="card.url | safeUrl" [width]="width" [height]="height" [style.opacity]="opacity">
    <div
        class="card-cover-btn btn btn-dark disabled"
        [style.width.px]="width"
        [style.height.px]="height">
    </div>
    <div
        *ngIf="showStats"
        class="stats-btn btn btn-warning disabled"
        [style.left.px]="8"
        [style.top.px]="height-25">{{card.attack}}
    </div>
    <div
        *ngIf="showStats"
        class="stats-btn btn btn-danger disabled"
        [style.left.px]="width-50"
        [style.top.px]="height-25">{{card.defense}}
    </div>
</div>

