<div class="container-fluid">
  <div class="row">
    <div class="col-4 stats-menu-hand">
      <div class="row">
        <div class="col-6  stats">
          <div class="row">
            <div class="col-12 score-func">
              <p>Round: {{roundInfo.current_round}}/3</p>
              <p>Round 1:
                <mat-icon *ngIf="roundInfo.roundsWinner.round_1 === username">check_circle</mat-icon>
                <mat-icon *ngIf="roundInfo.roundsWinner.round_1 && roundInfo.roundsWinner.round_1 !== username">close</mat-icon>
                <mat-icon *ngIf="roundInfo.current_round === 1">play_arrow</mat-icon>
                <mat-icon *ngIf="roundInfo.current_round < 1">query_builder</mat-icon>
              </p>
              <p>Round 2:
                  <mat-icon *ngIf="roundInfo.roundsWinner.round_2 === username">check_circle</mat-icon>
                  <mat-icon *ngIf="roundInfo.roundsWinner.round_2 && roundInfo.roundsWinner.round_2 !== username">close</mat-icon>
                  <mat-icon *ngIf="roundInfo.current_round === 2">play_arrow</mat-icon>
                  <mat-icon *ngIf="roundInfo.current_round < 2">query_builder</mat-icon>
              </p>
              <p>Round 2:
                  <mat-icon *ngIf="roundInfo.roundsWinner.round_3 === username">check_circle</mat-icon>
                  <mat-icon  *ngIf="roundInfo.roundsWinner.round_3 && roundInfo.roundsWinner.round_3 !== username">close</mat-icon>
                  <mat-icon  *ngIf="roundInfo.current_round === 3 && !roundInfo.winner">play_arrow</mat-icon>
                  <mat-icon  *ngIf="roundInfo.current_round < 3">query_builder</mat-icon>
              </p>
              <p *ngIf="roundInfo.winner === username">
                You won!
              </p>
              <p *ngIf="roundInfo.winner && roundInfo.winner !== username">
                You lost!
              </p>

              <button type="button" class="btn btn-primary" disabled>{{myScore}}</button>
              <button type="button" class="btn btn-danger" disabled>{{enemyScore}}</button>
              <div *ngIf="myTurn">
                <button type="button" class="btn btn-warning" *ngIf="!roundInfo.is_ending && !roundInfo.winner" (click)="endTurn()">End turn</button>
                <button type="button" class="btn btn-success" *ngIf="!roundInfo.winner" (click)="endRound()">End round</button>
              </div>
              <div *ngIf="!myTurn">
                The enemy is playing his turn.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 hero">
              Hero
              <app-card
              class="card"
              [card]="myHero"
              [width]="cardWidth*2"
              [height]="cardHeight*2"
              [showStats]="false">
              </app-card>
            </div>
          </div>

          <div class="row">
            <div class="col-6 hero">
              Enemy
              <app-card
              class="card"
              [card]="enemyHero"
              [width]="cardWidth"
              [height]="cardHeight"
              [showStats]="false">
              </app-card>
            </div>
            <div class="col-6">
              <mat-spinner mode="indeterminate" *ngIf="waiting"></mat-spinner>
            </div>
          </div>
        </div>

        <div class="col-3 hand">
          <div class="row">
            <div class="col-12 header-stat">
              <p class="stats-p">Functional</p>
              <p class="stats-p">Cards left: {{myFunctionals?.length}}</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 functional-hand-container hand"
              cdkDropList
              id="functional"
              [cdkDropListData]="myFunctionals"
              [cdkDropListConnectedTo]="'functional_use'"
              (cdkDropListDropped)="drop($event)">
              <app-card
                class="card"
                *ngFor="let card of myFunctionals"
                [card]="card"
                [width]="cardWidth"
                [height]="cardHeight"
                cdkDrag>
              </app-card>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 functional-hand-use-container hand"
              cdkDropList
              id="functional_use"
              [cdkDropListConnectedTo]="'functional'"
              (cdkDropListDropped)="drop($event)">
              Drag functional cards here to use.
            </div>
          </div>
        </div>

        <div class="col-3 hand">
          <div class="row">
            <div class="col-12 header-stat">
              <p class="stats-p">Minions</p>
              <p class="stats-p">Cards left: {{myHand?.length}}</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 hand-container hand"
              cdkDropList
              id="hand"
              [cdkDropListData]="myHand"
              [cdkDropListConnectedTo]="boardIds"
              (cdkDropListDropped)="drop($event)">
              <app-card
                class="card"
                *ngFor="let card of myHand"
                [card]="card"
                [width]="cardWidth"
                [height]="cardHeight"
                cdkDrag>
              </app-card>
            </div>
          </div>          
        </div>
      </div>
    </div>


    <div class="col-1 board-part" *ngFor="let i of boardIndexes">
      <div class="row header-stat">
        <div class="col-12">
          <p class="stats-p">{{getPositionName(i)}}</p>
          <p class="stats-p">{{getScore(i)}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 board-part-box">
          <div
            class="board-part-container"
            cdkDropList
            [id]="getId(i)"
            [cdkDropListData]="getLine(i)"
            [cdkDropListConnectedTo]="['hand']"
            (cdkDropListDropped)="drop($event)">
            <app-card
              class="card"
              *ngFor="let card of getLine(i)"
              [card]="card"
              [width]="cardWidth"
              [height]="cardHeight"
              [showStats]="true"
              cdkDrag>
            </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>