<div class="container-fluid">
  <div class="row">
    <div class="col-4 stats-menu-hand">
      <div class="row">
        <div class="col-6  stats">
          <div class="row">
            <div class="col-12 score-func">
              <p>Round: 3/5</p>

              <button type="button" class="btn btn-primary" disabled>23</button>
              <button type="button" class="btn btn-danger" disabled>23</button>
              
              <button type="button" class="btn btn-warning">End turn</button>
              <button type="button" class="btn btn-success">End round</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 hero">
              Hero
              <app-card
              class="card"
              [card]="card"
              [width]="cardWidth*2"
              [height]="cardHeight*2"
              [showStats]="false">
              </app-card>
            </div>
          </div>

          <div class="row">
            <div class="col-6 hero">
              Enemy
              <app-card
              class="card"
              [card]="card"
              [width]="cardWidth"
              [height]="cardHeight"
              [showStats]="false">
              </app-card>
            </div>
            <div class="col-6">
              <mat-spinner mode="indeterminate" *ngIf="waiting"></mat-spinner>
            </div>
          </div>
        </div>

        <div class="col-3 hand">
          <div class="row">
            <div class="col-12 header-stat">
              <p class="stats-p">Functional</p>
              <p class="stats-p">Cards left: 5</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 functional-hand-container hand"
              cdkDropList
              id="functional"
              [cdkDropListData]="box1"
              [cdkDropListConnectedTo]="'functional_use'"
              (cdkDropListDropped)="drop($event)">
              <app-card
                class="card"
                *ngFor="let card of box1"
                [card]="card"
                [width]="cardWidth"
                [height]="cardHeight"
                cdkDrag>
              </app-card>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 functional-hand-use-container hand"
              cdkDropList
              id="functional_use"
              [cdkDropListData]="box2"
              [cdkDropListConnectedTo]="'functional'"
              (cdkDropListDropped)="drop($event)">
              Drag functional cards here to use.
            </div>
          </div>
        </div>

        <div class="col-3 hand">
          <div class="row">
            <div class="col-12 header-stat">
              <p class="stats-p">Minions</p>
              <p class="stats-p">Cards left: 5</p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-12 hand-container hand"
              cdkDropList
              id="hand"
              [cdkDropListData]="box1"
              [cdkDropListConnectedTo]="boardIds"
              (cdkDropListDropped)="drop($event)">
              <app-card
                class="card"
                *ngFor="let card of box1"
                [card]="card"
                [width]="cardWidth"
                [height]="cardHeight"
                cdkDrag>
              </app-card>
            </div>
          </div>          
        </div>
      </div>
    </div>


    <div class="col-1 board-part" *ngFor="let i of boardIndexes">
      <div class="row header-stat">
        <div class="col-12">
          <p class="stats-p">{{getPositionName(i)}}</p>
          <p class="stats-p">{{getScore(i)}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 board-part-box">
          <div
            class="board-part-container"
            cdkDropList
            [id]="getId(i)"
            [cdkDropListData]="box2"
            [cdkDropListConnectedTo]="['hand']"
            (cdkDropListDropped)="drop($event)">
            <app-card
              class="card"
              *ngFor="let card of box2"
              [card]="card"
              [width]="cardWidth"
              [height]="cardHeight"
              [showStats]="true"
              cdkDrag>
            </app-card>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>