.selector-checkbox {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.container-fluid {
    background-image: url("../../background.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;   
}

.p-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
}