<form [formGroup]="cardSelectionForm" (ngSubmit)="onSubmit()">
  <div formArrayName="cardsSelectors">
    <div class="row" *ngFor="let j of getRowNumbers()">
      <div class="col-2" *ngFor="let i of getCardsNumbers(j)">
        <app-card [card]="allCards[i]" [width]="cardWidth" [height]="cardHeight" [showStats]="cardShowStats" [opacity]="getCardOpacity(i)"></app-card>
        <input type="checkbox" [style.width.px]="cardHeight" [style.height.px]="cardHeight" class="selector-checkbox" [formControlName]="i">
      </div>
    </div>
    <button type="submit">Submit</button>
    <p>You must select {{validCardNumber}} cards! {{getSelectedCardsCount()}}/{{validCardNumber}}</p>
    <p>Cards total cost should not exceed {{maxCost}}! {{getTotalCost()}}/{{maxCost}}</p>
  </div>
</form>